{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "react",
    "babel",
    "jsx-a11y"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:jsx-a11y/recommended"
  ],
  "settings": {
    "react": {
      "version": "16.0"
    }
  },
  "rules": {
    "max-len": ["error", {"code": 80, "ignoreUrls": true}],
    "no-mixed-operators": "error",
    "no-tabs": "error",
    "jsx-quotes": ["error", "prefer-double"],
    "quotes": ["error", "double"],
    "object-curly-spacing": ["error", "always"],
    "react/prop-types": ["error", { "skipUndeclared": true }],
    "arrow-parens": ["error", "always"]
  }
}
