{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "react",
    "babel",
    "jsx-a11y",
    "prettier"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:jsx-a11y/recommended",
    "standard",
    "prettier",
    "prettier/react"
  ],
  "rules": {
    "no-case-declarations": 0,
    "prettier/prettier": "error",
    "max-len": ["error", {"code": 80, "ignoreUrls": true}],
    "no-mixed-operators": "error",
    "no-tabs": "error",
    "quotes": 0,
    "operator-linebreak": 0,
    "jsx-a11y/anchor-has-content": 0,
    "react/prop-types": 0
  }
}
