.normalItem {
  padding: 2px 6px;
  cursor: default;
  font-size: 1.8em;
}

.highlightedItem {
  color: #fff;
  background: hsl(200, 50%, 50%);
  padding: 2px 6px;
  cursor: pointer;
  font-size: 1.8em;
}

.inputStyles {
  border-top-left-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
}
