.table {
  composes: largerFont from '../../sharedStyles/fonts.css';
  width: 100%;
}

.first {
  composes: textAlignLeft from '../../sharedStyles/alignment.css';
}

/* TODO remove from global scope */
th, td {
  vertical-align: middle !important;
  text-align: right;
}

.table tr td:last-child {
  white-space: nowrap;
  width: 1px;
}
